/* reset css */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
textarea,
p,
blockquote,
th,
td,
input,
select,
button {
  margin: 0;
  padding: 0;
}
fieldset,
img {
  border: 0 none;
}
dl,
ul,
ol,
menu,
li {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
input,
select,
textarea,
button {
  vertical-align: middle;
}
input::-ms-clear {
  display: none;
}
button {
  border: 0 none;
  background-color: transparent;
  cursor: pointer;
}
body {
  background: #fff;
}
body,
th,
td,
input,
select,
textarea,
button {
  font-size: 12px;
  line-height: 1.5;
  font-family: "돋움", dotum, sans-serif;
  color: #333;
} /* color값은 디자인가이드에 맞게사용 */
a {
  color: #333;
  text-decoration: none;
}
a:active,
a:hover {
  text-decoration: underline;
}
a:active {
  background-color: transparent;
}
address,
caption,
cite,
code,
dfn,
em,
var {
  font-style: normal;
  font-weight: normal;
}
/* reset css */

.screen_out {
  text-indent: -9999px;
  width: 0;
  height: 0;
}

header {
  overflow: hidden;
  margin: 30px 200px;
}
main {
  margin: 30px 200px;
}
footer {
  margin: 30px 200px;
  border-top: 1px solid gray;
}

.logo {
  float: left;
  margin-right: 130px;
}
.nav_bar {
  overflow: hidden;
  line-height: 36px;
  font-size: 15px;
}
.nav_bar ul :last-child {
  padding-right: 0;
}

.nav_bar ul li {
  float: left;
  margin-left: 110px;
}
.home_img {
  width: 1350px;
  height: 500px;
}
.contents_section {
  display: inline-block;
  width: 400px;
  margin: 30px 30px;
}
.contents_section:nth-child(3) {
  margin-right: 0;
}
.section_img {
  width: 400px;
}
.contents_title {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-weight: bold;
  font-size: 25px;
  margin: 10px auto;
}
.contents_text {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.practice_table {
  overflow: hidden;
}
.practice_table li {
  float: left;
}
