@charset "utf-8";
/* reset */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
textarea,
p,
blockquote,
th,
td,
input,
select,
button {
  margin: 0;
  padding: 0;
}
fieldset,
img {
  border: 0 none;
}
dl,
ul,
ol,
menu,
li {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
input,
select,
textarea,
button {
  vertical-align: middle;
}
input::-ms-clear {
  display: none;
}
button {
  border: 0 none;
  background-color: transparent;
  cursor: pointer;
}
body {
  background: #fff;
}
body,
th,
td,
input,
select,
textarea,
button {
  font-size: 12px;
  line-height: 1.5;
  font-family: "돋움", dotum, sans-serif;
  color: #333;
} /* color값은 디자인가이드에 맞게사용 */
a {
  color: #333;
  text-decoration: none;
}
a:active,
a:hover {
  text-decoration: underline;
}
a:active {
  background-color: transparent;
}
address,
caption,
cite,
code,
dfn,
em,
var {
  font-style: normal;
  font-weight: normal;
}

/* global */
.direct-link {
  position: absolute;
  top: -1px;
  left: 0;
  z-index: 1000;
  height: 1px;
} /* 바로가기 */
.direct-link a {
  position: absolute;
  top: -999px;
  padding: 5px 10px;
  font-weight: bold;
  color: #fff;
  background: #333;
  text-decoration: none;
  white-space: nowrap;
}
.direct-link a:focus {
  top: 0;
}
.screen_out {
  overflow: hidden;
  position: absolute;
  width: 0;
  height: 0;
  line-height: 0;
  text-indent: -9999px;
}
.inner-main {
  position: relative;
}

.doc-main {
  overflow: hidden;
}
.bnr_header {
  background-color: #5c6570;
  height: 30px;
}
.container-doc {
  max-width: 1440px;
  margin: 30px auto;
}

/* 헤더영역 */

.doc-title {
  float: left;
  margin-right: 50px;
}
.doc-gnb {
  overflow: hidden;
  line-height: 36px;
  font-size: 15px;
}
.list_gnb {
  overflow: hidden;
  float: left;
}
.list_gnb li {
  float: left;
  margin-left: 80px;
}
.tab_gnb {
  color: #333;
  text-decoration: none;
}
.tab_gnb:hover {
  color: #000;
}
.wrap_menu {
  margin-left: 50px;
  float: left;
}
.ico_menu {
  width: 17px;
  height: 17px;
  vertical-align: middle;
}

/*        */
/* 바디영역 */

.content-feature {
  margin: 30px 0;
  overflow: hidden;
  border-top: 3px solid #5c6570;
  border-bottom: 1px solid #808080;
  max-width: 1200px;
}
.wrap_feature {
  position: relative;
}
.img_main {
  display: block;
  height: 520px;
  margin-bottom: 10px;
}
.btn_next,
.btn_prev {
  position: absolute;
  top: 240px;
  width: 45px;
  height: 45px;
  font-size: 20px;
  color: #fff;
  background-color: rgba(53, 69, 110, 0.9);
  border-radius: 25px;
  text-align: center;
}
.btn_next {
  right: 200px;
}
.btn_prev {
  left: 200px;
}
.wrap_noti {
  position: absolute;
  background-color: rgba(53, 69, 110, 0.9);
  width: 350px;
  height: 400px;
  top: 50px;
  left: 430px;
  color: #fff;
  padding: 20px;
  text-align: center;
}
.tit_noti {
  display: block;
  font-size: 20px;
  text-decoration: underline;
  text-align: left;
}
.tit_item {
  display: block;
  font-size: 30px;
  margin: 30px;
}
.desc_noti {
  font-size: 15px;
  padding: 20px 0;
}
.desc_noti + .desc_noti {
  border-top: 1px solid #fff;
}
.list_paging {
  overflow: hidden;
  margin-top: 100px;
  text-align: center;
}

.list_paging li {
  display: inline-block;
  margin: 0 15px;
}
.btn_paging {
  display: block;
  width: 18px;
  height: 18px;
}
.paging_main {
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 3px;
  background-color: #0bb2ff;
}

.cont_item {
  width: 900px;
  float: left;
}
.list_content {
  overflow: hidden;
}
.list_content li {
  float: left;
  width: 125px;
  margin: 20px 50px;
  text-align: center;
}
.link_content {
  display: block;
  text-decoration: none;
}
.img_item {
  height: 125px;
  border-radius: 50%;
  display: block;
}
.tit_content {
  display: block;
  margin: 10px 0;
  font-size: 13px;
}
.cont_introduce {
  float: left;
  height: 250px;
  margin-left: 20px;
  width: 275px;
  border-left: 1px solid #808080;
}
.wrap_introduce {
  display: block;
  height: 125px;
  border-bottom: 1px solid #808080;
}
.link_introduce {
  display: block;
}
.tit_introduce {
  font-size: 30px;
  margin: 10px;
}
.desc_introduce {
  font-size: 15px;
  margin: 10px;
}

/* information 섹션*/
.section_information {
  overflow: hidden;
  height: 300px;
}
.cont_information {
  float: left;
  width: 925px;
  height: 250px;
  border-bottom: 1px solid #808080;
}
.header_information {
  overflow: hidden;
  border-top: 1px solid #808080;
  border-bottom: 1px solid #808080;
  margin-bottom: 20px;
}
.btn_information {
  float: right;
  font-size: 15px;
  margin: 15px;
  border-left: 1px solid #808080;
  padding-left: 15px;
  text-align: center;
}
.list_information {
  overflow: hidden;
  float: left;
}

.list_information li {
  float: left;
  text-align: center;
  margin: 15px;
}
.list_board {
  margin-bottom: 15px;
}
.list_board li {
  position: relative;
  margin: 15px 0;
}
.list_board li::before {
  content: "-";
  margin-left: 10px;
  vertical-align: top;
}
.tit_board {
  display: inline-block;
  width: 800px;
}
.date_noti {
  position: absolute;
  right: 10px;
}
.section_popup {
  float: left;
  width: 275px;
  height: 250px;
  border: 1px solid #808080;
}
.header_popup {
  width: 250px;
  margin: 5px auto;
  font-size: 20px;
}
.btn_close {
  float: right;
  font-size: 20px;
  width: 22px;
  height: 22px;
  text-align: center;
}
.item_popup {
  border: 1px solid #808080;
  width: 250px;
  height: 180px;
  margin: 15px auto;
}
/*culture 섹션 */
.section_culture {
  width: 1200px;
}

.tit_culture {
  margin: 20px 0;
  text-align: center;
  font-size: 25px;
}

.list_culture {
  overflow: hidden;
}

.list_culture li {
  float: left;
  text-align: center;
  margin: 10px;
}
.link_culture {
  display: block;
}

.img_culture {
  width: 275px;
  height: 200px;
  border: 1px solid #808080;
  display: block;
}
.desc_culture {
  margin: 10px 0;
  max-width: 275px;
}
/*sidebar 섹션*/
.content-snb {
  background-color: #fff;
  position: absolute;
  width: 200px;
  top: 0;
  right: 0;
}
.wrap_snb {
  position: fixed;
  border: 1px solid #5c6570;
  border-top: 3px solid #5c6570;
}
@media (max-width: 1440px) {
  .content-snb {
    display: none;
  }
}

.snb_search {
  background-color: #ccc;
  padding-bottom: 10px;
  border-bottom: 1px solid #5c6570;
}
.wrap_search {
  border-bottom: 1px solid #5c6570;
  margin-bottom: 10px;
}
.tit_search {
  font-size: 15px;
  font-weight: normal;
  padding: 10px;
}
.wrap_input {
  margin-left: 5px;
}

.btn_search {
  display: inline-block;
  background-color: #5c6570;
  color: #fff;
  width: 25px;
}
.snb_quickmenu {
  overflow: hidden;
  border-bottom: 1px solid #5c6570;
}
.tit_quickmenu {
  display: block;
  font-weight: normal;
  margin: 10px;
  text-align: center;
  font-size: 20px;
}
.list_snb {
  overflow: hidden;
}
.list_snb > li {
  text-align: center;
  margin-bottom: 15px;
}

.list_snb > li:first-child {
  width: 100px;
  float: left;
  border-right: 1px solid #5c6570;
}
.list_snb > li:last-child {
  width: 99px;
  float: right;
}
.snb_cs {
  margin: 10px;
  text-align: center;
}
.tit_cs {
  font-size: 25px;
}
.snb_etc {
  display: block;
  text-align: center;
  background-color: #ccc;
  height: 40px;
  border: 1px solid #5c6570;
  font-size: 20px;
}
.snb_logo {
  text-align: center;
  font-size: 40px;
  background: no-repeat url("https://dummyimage.com/500x300/f0cb6b/000000.jpg");
}
/*footer*/

.doc-footer {
  background-color: #000;
  color: #fff;
  overflow: hidden;
}
.wrap_footer {
  float: left;
  overflow: hidden;
  width: 600px;
}
.tit_footer {
  float: left;
  margin: 25px 50px;
  font-size: 30px;
}
.list_menu {
  overflow: hidden;
  margin: 10px auto;
}
.list_menu li {
  float: left;
  font-weight: bold;
}
.link_footer {
  color: #fff;
}
.list_menu li:after {
  margin: 0 5px;
  content: "|";
}
.list_menu li:last-child:after {
  content: "";
}
.section_footer {
  overflow: hidden;
}
.section_footer small {
  float: left;
}
.list_sns {
  float: left;
  width: 250px;
  overflow: hidden;
  margin: 30px 50px;
}
.list_sns li {
  float: left;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  border: 1px solid red;
  margin: 0 10px;
}
