.footer_banner_zone{position:relative; width:100%; background:#f8f8f8; padding:15px 0;}
.footer_banner_zone .flow_banner_box{position:relative; width:1000px; margin:0 auto; background:#fff; height:66px;}
.footer_banner_zone .flow_banner_box .flow_bann_area{position:absolute; top:8px; left:50%; margin-left:-447px;}
.footer_banner_zone .flow_banner_box .flow_bann_area ul{*zoom:1;}
.footer_banner_zone .flow_banner_box .flow_bann_area ul:after{content:""; display:block; clear:both;}
.footer_banner_zone .flow_banner_box .flow_bann_area ul li{float:left; padding-right:9px;}
.footer_banner_zone .flow_banner_box .flow_bann_area ul li a{}
.footer_banner_zone .flow_banner_box .flow_bann_area ul li a img{border:1px solid #f2f2f2;}
/* btn */
.flow_ctrl_box{}
.flow_ctrl_box a{position:absolute; top:20px;  width:16px; height:26px; background-image:url(./images/flow_ctrl_side_btn.gif);}
.flow_ctrl_box a.back{left:18px; background-position:0 0;}
.flow_ctrl_box a.next{right:18px; background-position:16px 0;}
.flow_ctrl_box a.play{background:none; width:auto; height:auto; top:0; left:-30px; font-size:13px; color:#fff; background:#333; border-radius:15px; text-decoration:none; padding:5px 10px;}
.flow_ctrl_box a.stop{background:none; width:auto; height:auto; top:31px; left:-30px; font-size:13px; color:#fff; background:#333; border-radius:15px; text-decoration:none; padding:5px 10px;}
