.container {
  background-color: black;
  width: 100%;
  justify-content: center;
}
li {
  list-style: none;
}
li,
div {
  width: 100px;
  height: 100px;
  display: flex;
}

.red {
  background-color: red;
}
.blue {
  background-color: blue;
}
.green {
  background-color: green;
}
.yellow {
  background-color: yellow;
}

.pink {
  background-color: pink;
}
